{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "tabWidth": 2,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@domain/(.*)$",
    "^@contracts/(.*)$",
    "^@state/(.*)$",
    "^@adapters/(.*)$",
    "^@layout/(.*)$",
    "^@topbar/(.*)$",
    "^@catalog/(.*)$",
    "^@canvas/(.*)$",
    "^@testing/(.*)$",
    "",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderTypeScriptVersion": "5.8.0"
}
